using System;
using System.Collections.Generic;
using System.IO;
using System.Text;
{{#imports}}using {{import}};
{{/imports}}

{{#models}}
{{#model}}
namespace {{packageName}}.{{packageContext}}.Models
{    {{#vars}}{{#isEnum}}{{^parent}}
    {{>innerModelEnum}}{{/parent}}{{/isEnum}}{{#items.isEnum}}
    {{#items}}{{>innerModelEnum}}{{/items}}{{/items.isEnum}}{{/vars}}

/// <summary>
    /// {{#description}}{{.}}{{/description}}{{^description}}{{classname}}{{/description}}
    /// </summary>
    public class {{classname}} {{#parent}}: {{{parent}}}{{/parent}}
    { {{#vars}}{{^isInherited}}        
        
        /// <summary>
        /// {{^description}}{{{name}}}{{/description}}{{#description}}{{description}}{{/description}}
        /// </summary>
        public {{>nullableDataType}} {{name}} { get; set; }
{{/isInherited}}{{/vars}}
    }
{{/model}}
{{/models}}
}
